  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background-image: url(<%= asset_path 'tenant_protections_img.jpg' %>);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">""</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
              </div>
              <div class="col-12 col-md-3">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

<div class="graphic-header about-us-hero center-page-wrapper">
  <div class="center-page">
    <h1 class="mb-5"> <center> Chicago Tenant Protection Project <center> </h1>
    <div class="underbar"></div>
  </div>
</div>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3><%= link_to("Add Complaint/View Database", "/complaints") %></h3>
            <p class="lead mb-0">This database displays user inputed data about complaints against landlords in Chicago.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3><%= link_to("Tenant Resources", "/pages/Resources") %></h3>
            <p class="lead mb-0">Resources to file a formal complaint against a landlord/building and get legal help in Chicago.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3><%= link_to("View List of Problematic Landlords", "/landlords") %></h3>
            <p class="lead mb-0">List of problematic landlords using City of Chicago Data and data from our users.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'eviction_img.jpg' %>);"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>About Us</h2>
          <p class="lead mb-0">The Chicago Tenant Protection Project collects and reports information on problematic landlords in the City of Chicago. Renters can report bad behavior to the city, but certain categories of behavior are not addressed.
          For example, while tenants can report building code violations, their only recourse for dealing with eviction notices is to go to court. There is no publicly accessible database that lists landlords who have attempted unfair evictions.
          This website aims to address this by providing an interface for tenants to submit complaints about their landlords, and view complaints submitted by others."</p>
        </div>
      </div>
