<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :landlord_name %>
    <%= form.text_field :landlord_name %>
  </div>

   <div class='field'>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class='field'>
    <%= form.label :complaint %>
    <%= form.text_field :complaint %>
  </div>

  <div class='field'>
    <%= form.label :complaint_date %>
    <%= form.date_field :complaintdate %>
  </div>

  <div class='field'>
    <%= form.label :eviction_warning, 'Was there an eviction warning?' %>
    <%= form.check_box :eviction_warning %>
  </div>

  <div class='field'>
    <%= form.label :building_violation, 'Was there a building violation?' %>
    <%= form.check_box :building_violation %>
  </div>

  <div class='field'>
    <%= form.label :entered_wo_notice, 'Did the landlord enter without notice?' %>
    <%= form.check_box :entered_wo_notice %>
  </div>

  <div class='field'>
    <%= form.label :withhold_security_dep, 'Did the landlord withhold the security deposit?' %>
    <%= form.check_box :withhold_security_dep %>
  </div>

  <div class='field'>
    <%= form.label :anti_complaints, 'Did the landlord retaliate against complaints?' %>
    <%= form.check_box :anti_complaints %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
