<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :landlord_name %>
    <%= form.text_field :landlord_name %>
  </div>

   <div class='field'>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class='field'>
    <%= form.label :complaint %>
    <%= form.text_field :complaint %>
  </div>

  <div class='field'>
    <%= form.label :complaint_date %>
    <%= form.date_field :complaintdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
