<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Landlord name</th>
      <th>Address of building</th>
      <th>Nature of complaint</th>
      <th>Date of complaint</th>
      <th>Was there an eviction warning?</th>
      <th>Was there a building violation?</th>
      <th>Did the landlord enter without notice?</th>
      <th>Did the landlord withhold the security deposit?</th>
      <th>Did the landlord retaliate against complaints?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td align="center"><%= complaint.landlord_name %></td>
        <td align="center"><%= complaint.address %></td>
        <td align="center"><%= complaint.complaint %></td>
        <td align="center"><%= complaint.complaintdate %></td>
        <td align="center"><%= complaint.eviction_warning %></td>
        <td align="center"><%= complaint.building_violation %></td>
        <td align="center"><%= complaint.entered_wo_notice %></td>
        <td align="center"><%= complaint.withhold_security_dep %></td>
        <td align="center"><%= complaint.anti_complaints %></td>
        <!-- <td><%= link_to 'Show', complaint %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
