<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Tenant Resources</h2>
      <hr>  <a class="" href="#"><%= link_to("Report a building code violation to the City", "https://311.chicago.gov/s/service-request?language=en_US") %></a>
      <hr>  <a class="" href="#"><%= link_to("14-day demand letter to landlord to make repairs", "https://www.illinoislegalaid.org/legal-information/14-day-demand-letter-landlord-make-repairs") %></a>
      <hr>  <a class="" href="#"><%= link_to("Know Your Rights - The Chicago Residential Landlord Tenant Ordinance", "https://bc-firm.com/tenants-rights-chicago/#2") %></a>
      <hr>  <a class="" href="#"><%= link_to("Free legal resources in Illinois by Zipcode", "https://www.illinoislegalaid.org/legal-information/helping-clients-landlord-and-tenant-cases") %></a>
      <hr>  <a class="" href="#"><%= link_to("Eviction Rate Map of Chicago from The Eviction Lab", "https://evictionlab.org/map/#/2016?geography=cities&bounds=-88.39,41.506,-86.948,42.105&type=er&locations=1714000,-87.732,41.834") %></a>

      <p></p>
    </div>
  </div>
